#smaller {
  width: 200px;
  height: auto;
  float: left;
  margin-right: 50px;
}

#soloButton {
  margin-bottom: 15px;
}

#pizzaToppings {
  margin-bottom: 10px;
}

h1 {
  margin-bottom: 20px;
}

#dio {
  margin-right: 75px;
}
